@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: white;
  padding: 10px;
  border-bottom: 2px solid #054141;
}

@media (max-width: 576px) {
  .navbar-container {
      height: 59px;
  }
}

@media (min-width: 577px) {
  .navbar-container {
      height: 62px; /* Tinggi navbar pada PC */
  }
}

.content-section {
  margin-top: calc(62px); /* Sesuaikan margin atas sesuai dengan tinggi navbar dan padding */
}

@media (max-width: 576px) {
  .content-section {
      margin-top: calc(59px); /* Sesuaikan margin atas sesuai dengan tinggi navbar dan padding pada perangkat mobile */
  }
}

.shadow-custom {
    box-shadow: 10px 10px 0 rgba(255, 255, 255, 0.1);
}
.shadow-card {
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}
[x-cloak] {
    @apply hidden
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(174, 14, 14);
    border-radius: 20%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(174, 14, 14);
  }
  
  /* plus sign */
  .sign {
    width: 15px;
    height: 15px;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2px;
  }
  
  .sign svg {
    width: 17px;
    height: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 3%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 110px;
    border-radius: 8px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    transition-duration: .3s;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 60%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }